<div class="characteristics">
  <div class="container">
    <div class="row">

      <!-- Char. Item -->
      <div class="col-lg-3 col-md-6 char_col">

        <div class="char_item d-flex flex-row align-items-center justify-content-start">
          <div class="char_icon"><img src="assets/images/char_1.png" alt=""></div>
          <div class="char_content">
            <div class="char_title">Darmowa dostawa</div>
            <div class="char_subtitle">from 45 zł</div>
          </div>
        </div>
      </div>

      <!-- Char. Item -->
      <div class="col-lg-3 col-md-6 char_col">

        <div class="char_item d-flex flex-row align-items-center justify-content-start">
          <div class="char_icon"><img src="assets/images/char_2.png" alt=""></div>
          <div class="char_content">
            <div class="char_title">Darmowy zwrot</div>
            <div class="char_subtitle">od 49zł</div>
          </div>
        </div>
      </div>

      <!-- Char. Item -->
      <div class="col-lg-3 col-md-6 char_col">

        <div class="char_item d-flex flex-row align-items-center justify-content-start">
          <div class="char_icon"><img src="assets/images/char_3.png" alt=""></div>
          <div class="char_content">
            <div class="char_title">System ratalny</div>
            <div class="char_subtitle">raty 0%</div>
          </div>
        </div>
      </div>

      <!-- Char. Item -->
      <div class="col-lg-3 col-md-6 char_col">

        <div class="char_item d-flex flex-row align-items-center justify-content-start">
          <div class="char_icon"><img src="assets/images/char_4.png" alt=""></div>
          <div class="char_content">
            <div class="char_title">Gwarancja</div>
            <div class="char_subtitle">do 5 lat</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
