<div class="top_bar">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-row">
        <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="assets/images/phone.png" alt=""></div>+48 111-222-333</div>
        <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="assets/images/mail.png" alt=""></div><a href="mailto:info@multizoneit.pl">info@multizoneit.pl</a></div>
        <div class="top_bar_content ml-auto">
          <div class="top_bar_menu">

          </div>
          <div class="top_bar_user">
            <div class="user_icon"><img src="assets/images/user.svg" alt=""></div>
            <div><a href="#">Rejestracja</a></div>
            <div><a href="#">Zaloguj</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
