<app-main-nave></app-main-nave>
<app-banner></app-banner>
<app-characteristics></app-characteristics>
<div class="deals_featured">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-lg-row flex-column align-items-center justify-content-start">
        <div class="col-lg-4 ml-0 pl-0">
          <app-deals-of-the-week></app-deals-of-the-week>
        </div>
        <div class="col-lg-8 align-items-center ml-5">
          <app-featured></app-featured>
        </div>
      </div>
    </div>
  </div>
</div>
<app-popular-categories></app-popular-categories>
<app-banner2></app-banner2>
<app-new-arrivals></app-new-arrivals>
<app-bestsellers></app-bestsellers>
<app-adverts></app-adverts>
<app-brands></app-brands>
<app-newsletter></app-newsletter>
